.bg-blk{ 
    background-color: blue;
}


.hw-box{ 
    height: 5rem;
    width: 70rem;           
}

.button{
    display: inline-block;
    border: .1rem solid black;
    width: 20rem;
    height: 3.75rem;
    margin: .5%;
    padding: .4%;
    



}

.fc-wh{
    color: white;
}

li.button a {
    color: white;
    text-decoration: none;
}

.bh{
    height: 5rem;
}

.text-h-cen{
    text-align: center;
}

.text-v-cen{
    line-height: 4rem;
}